<app-header></app-header> 
<div class="nav-space">
<app-adds></app-adds>
</div>
<app-tabswitch></app-tabswitch>
<div class="flex flex-wrap m-5 justify-center">
    <div class="flex m-5">
      <app-product-card></app-product-card>
    </div>
    <div class="flex m-5">
        <app-product-card></app-product-card>
      </div>
      <div class="flex m-5">
        <app-product-card></app-product-card>
      </div>
      <div class="flex m-5">
        <app-product-card></app-product-card>
      </div>
      <div class="flex m-5">
        <app-product-card></app-product-card>
      </div>
      <div class="flex m-5">
        <app-product-card></app-product-card>
      </div>
      <div class="flex m-5">
        <app-product-card></app-product-card>
      </div>
  </div>
  
  <app-footer></app-footer>