<app-header></app-header> 
            <div class="col-span-4 sm:col-span-3 mt-12">
                <div class="bg-white shadow rounded-lg p-6">
                    <div class="flex flex-col items-center">
                        <img src="https://t4.ftcdn.net/jpg/02/29/75/83/360_F_229758328_7x8jwCwjtBMmC6rgFzLFhZoEpLobB6L8.jpg" class="w-32 h-32 bg-gray-300 rounded-full mb-4 shrink-0">

                        <h1 class="text-xl font-bold">{{user.username}}</h1>
                        <p class="text-gray-700">{{user.email}}</p>
                        <div class="mt-6 flex flex-wrap gap-4 justify-center">
                            <a  class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded">Edit</a>
                            <a  class="bg-gray-300 hover:bg-gray-400 text-gray-700 py-2 px-4 rounded">Reset Password</a>
                        </div>
                    </div>
                    <hr class="my-6 border-t border-gray-300">
                    <div class="flex flex-col">
                        <div class="mt-6 flex flex-wrap gap-4 justify-center">
                        <span class="text-gray-700 uppercase font-bold tracking-wider mb-2">Phone</span>
                            <h1 class="mb-2">{{user.phone}}</h1>
                        </div>
                        <div class="mt-6 flex flex-wrap gap-4 justify-center">
                            <span class="text-gray-700 uppercase font-bold tracking-wider mb-2">Address</span>
                             <h1 class="mb-2">sgretw</h1>
                        </div>
                        <!-- <div class="mt-6 flex flex-wrap gap-4 justify-center">
                            <span class="text-gray-700 uppercase font-bold tracking-wider mb-2">orders</span>
                                <h1 class="mb-2">JavaScript</h1>
                        </div> -->
                    </div>
                </div>
            </div>
