.image img {
    width: 60%;
    height: 100%;
    }
    
    .image {
    position: relative;
    }
    
    .image figcaption{
    width: 100vw;
    position: absolute;
    top: 15%;
    bottom: 50%;
    left: 60%;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    }