<div class="flex justify-center">
<img routerLink="/" src="https://cdni.iconscout.com/illustration/premium/thumb/order-placed-4283423-3581435.png" alt="">
</div>

<div class="flex justify-center">
    <h1 class="font-extrabold">Order successfull</h1>
 </div>
 <div class="flex justify-center">
    <h1 *ngIf="orderId">Now you can track your order with orderId: <span class="font-extrabold">{{orderId}}</span></h1>
 </div>
 <div class="flex justify-center">
    <h1>Make sure that you have stored theone time order code</h1> 
 </div>

<div class="flex justify-center">
 <button routerLink="/" type="button" class="py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Go to Home</button>
</div>